@font-face {
  font-family: "DynamicPlayerIcon"; /* Project id 3777501 */
  src: url('iconfont.ttf?t=1668678375070') format('truetype');
}

.DynamicPlayerIcon {
  font-family: "DynamicPlayerIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-9Bzuidahua:before {
  content: "\e6c3";
}

.icon-a-31Cfuxuankuang:before {
  content: "\e6fb";
}

.icon-a-20Ddaiban:before {
  content: "\e69f";
}

.icon-a-20Htishixinxi:before {
  content: "\e6a0";
}

.icon-a-20Izhuyijinggao:before {
  content: "\e6a1";
}

.icon-a-23Dshujuku:before {
  content: "\e6a2";
}

.icon-a-24Iyuntai:before {
  content: "\e6a3";
}

.icon-a-26Bxiayige:before {
  content: "\e6a4";
}

.icon-a-26Ashangyige:before {
  content: "\e6a5";
}

.icon-a-26Fxiayizhen:before {
  content: "\e6a6";
}

.icon-a-26Eshangyizhen:before {
  content: "\e6a7";
}

.icon-a-26Hyoubofang:before {
  content: "\e6a8";
}

.icon-a-26Izanting:before {
  content: "\e6a9";
}

.icon-a-27Dkuaitui:before {
  content: "\e6aa";
}

.icon-a-27Fdancixunhuanbofang:before {
  content: "\e6ab";
}

.icon-a-27Hguanbixunhuan:before {
  content: "\e6ad";
}

.icon-a-27Ibofang:before {
  content: "\e6ae";
}

.icon-a-27Gxunhuanbofang:before {
  content: "\e6af";
}

.icon-a-27Jtingzhi:before {
  content: "\e6b0";
}

.icon-a-27Ekuaijin:before {
  content: "\e6b1";
}

.icon-a-28Cdianji:before {
  content: "\e6b2";
}

.icon-a-30Edaoxu:before {
  content: "\e6b3";
}

.icon-a-30Fzhengxu:before {
  content: "\e6b4";
}

.icon-a-30Gfangxiang:before {
  content: "\e6b5";
}

.icon-jifei:before {
  content: "\e600";
}

.icon-dengdaitianchong:before {
  content: "\e677";
}

.icon-Group-:before {
  content: "\e6ac";
}

.icon-sudu:before {
  content: "\e619";
}

.icon-sudu___:before {
  content: "\e601";
}

.icon-jiasudu:before {
  content: "\e7a1";
}

.icon-sudu1:before {
  content: "\e76d";
}

.icon-a-5Dlabayinliangjianxiao:before {
  content: "\e670";
}

.icon-a-5Flabajingyin:before {
  content: "\e671";
}

.icon-a-5Cguanbilaba:before {
  content: "\e672";
}

.icon-a-5Blaba:before {
  content: "\e673";
}

.icon-a-5Jyinboyinpin:before {
  content: "\e674";
}

.icon-a-5Elabayinliangfangda:before {
  content: "\e675";
}

.icon-a-5Alaba:before {
  content: "\e676";
}

.icon-a-5Hzhenling:before {
  content: "\e678";
}

.icon-a-5Iguanbizhenling:before {
  content: "\e679";
}

.icon-a-8Ftouping:before {
  content: "\e67a";
}

.icon-a-9Cquanpingfangda:before {
  content: "\e67b";
}

.icon-a-9Axiangxiahuanyuan:before {
  content: "\e67c";
}

.icon-a-9Equanping:before {
  content: "\e67d";
}

.icon-a-9Dhuanyuan:before {
  content: "\e67e";
}

.icon-a-10Bcaidanzonghe:before {
  content: "\e67f";
}

.icon-a-10Ecaidanhaomaben:before {
  content: "\e680";
}

.icon-a-10Ccaidanzonghe:before {
  content: "\e681";
}

.icon-a-11Ajiaru:before {
  content: "\e682";
}

.icon-a-10Fcaidan:before {
  content: "\e683";
}

.icon-a-9Fhuanyuan:before {
  content: "\e684";
}

.icon-a-11Cfenzuzuzhishu:before {
  content: "\e685";
}

.icon-a-11Edakaiwenjianjia:before {
  content: "\e686";
}

.icon-a-10Dcaidan:before {
  content: "\e687";
}

.icon-a-11Gyidongwenjianjia:before {
  content: "\e688";
}

.icon-a-11Bjiarubingxinjianfenzu:before {
  content: "\e689";
}

.icon-a-12Bbianji:before {
  content: "\e68a";
}

.icon-a-11Fdaoruzhiwenjianjia:before {
  content: "\e68b";
}

.icon-a-11Ifenxiangwenjianjia:before {
  content: "\e68c";
}

.icon-a-13Bshenglve:before {
  content: "\e68d";
}

.icon-a-12Hfanhui:before {
  content: "\e68e";
}

.icon-a-13Ashenglve:before {
  content: "\e68f";
}

.icon-a-12Ashezhi:before {
  content: "\e690";
}

.icon-a-13Fguanbi:before {
  content: "\e691";
}

.icon-a-13Iquedingxuanze:before {
  content: "\e692";
}

.icon-a-13Jtiaojie:before {
  content: "\e693";
}

.icon-a-14Fjiandaocaijian:before {
  content: "\e694";
}

.icon-a-14Jduanlian:before {
  content: "\e695";
}

.icon-a-15Cdian:before {
  content: "\e696";
}

.icon-a-15Dbiaoji:before {
  content: "\e697";
}

.icon-a-14Iduanlian:before {
  content: "\e698";
}

.icon-a-15Idingshishuaxin:before {
  content: "\e699";
}

.icon-a-16Bjishi:before {
  content: "\e69a";
}

.icon-a-15Jhuanyuan:before {
  content: "\e69b";
}

.icon-a-15Hshuaxin:before {
  content: "\e69c";
}

.icon-a-16Dzhuanhuan:before {
  content: "\e69d";
}

.icon-a-16Cjishishizhong:before {
  content: "\e69e";
}

